!!!
%html
  %head
    %title Hello, Sinatra!
  %body
    #header
      %h1 Hello, Sinatra!
      <% @users.each do |user| %>
        <h2><%= user.email %></h2>
      <% end %>
      /- @users.each do |user|
